# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.exe
crash.log
.terraform.lock.hcl
echo ".terraform/" >> .gitignore

# macOS
.DS_Store

# Optional: sensitive variable files
#*.tfvars
#*.tfvars.json
secrets.tf

#Certificates for Client VPN
/Infrastructure/VPN_Auth_Certificates/
*.ovpn

#Env
*.env

#Logs
/Docker/logs/*